<%= form_for(@rss_item) do |f| %>
  <% if @rss_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_item.errors.count, "error") %> prohibited this rss_item from being saved:</h2>

      <ul>
      <% @rss_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rss_provider %><br />
    <%= f.text_field :rss_provider %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :pubdate %><br />
    <%= f.text_field :pubdate %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :twitt_count %><br />
    <%= f.number_field :twitt_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
