!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : t('index.description'), :name => "description"}/
    %title
      = content_for?(:title) ? yield(:title) : t('index.title')
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/png"}/
    %link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    /[if lt IE 9]
      <script src="scripts/ie9.js">IE7_PNG_SUFFIX=".png";</script>
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = render :partial => 'layouts/google'
    = csrf_meta_tags
    :javascript
      $(function(){
          $('#obo_slider').oneByOne({
              className: 'oneByOne1',
              easeType: 'random',
              slideShow: true
          });

      })

  %body
    .wraper
      = render :partial => 'layouts/header'
    = yield
    = render :partial => 'layouts/footer'